.dialog {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.dialog-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(10, 10, 10, 0.86);
}

.dialog-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 101;

  padding: 16px;

  background-color: white;

  p {
    margin-top: 0;
  }
}
