@import 'vars';

html,
body {
  height: 100%;
  margin: 0;
  background: $g3;
  font-family: $default-font;
  font-size: 16px;
  // overflow-y: scroll;
}

*, *:after, *:before {
  box-sizing: border-box;
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@import 'animations';
@import 'icons';
@import 'buttons';

@import 'helpers/dialog';
@import 'helpers/btn';

@import 'main-nav';

@import 'group';

@import 'repos';
@import 'repo';
@import 'repo-details';
@import 'diff';
