$repo-details-margin: 0;

.repo-details {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: $repo-details-margin + $nav-height;
  bottom: $repo-details-margin;
  left: $repo-details-margin;
  right: $repo-details-margin;
  overflow: hidden;
  z-index: 10;

  padding: $lh;

  background: $g0;

  .header,
  .status {
    margin-top: 0;
  }

  .icon {
    width: $lh * 2;
    height: $lh * 2;
  }

  .icon-x {
    position: absolute;
    top: $lh;
    right: $lh;
  }

  .content {
    overflow-y: auto;
    flex-grow: 1;
  }

  .status {
    .ahead {
      color: $orange;
    }

    .behind {
      color: $red;
    }

    .modified {
      color: $blue;
    }

    &:empty {
      &:after {
        content: 'clean';
        color: $green;
      }
    }
  }

  .footer {
    bottom: 0;
  }
}
