$default-font: 'Raleway', sans-serif;
// $styled-font: 'Cutive', serif;
// $styled-font: 'Eczar', serif;
$styled-font: 'Copse', serif;
// $styled2-font: 'Trocchi', serif;
// $styled-font: 'Trocchi', serif;

/* COLORS */
$g0: #eee;
$g1: #ddd;
$g2: #ccc;
$g3: #bbb;
$g4: #888;
$g5: #666;
$g6: #444;
$g7: #222;

$red: #800;
$green: #49963D;
$orange: #ce800b;
$blue: #1E3E7F;

$red-bg: #f5d2ea;
$orange-bg: #e8ddcb;
$blue-bg: #d9dff3;

/* SIZES */
$lh: 16px;

$br: $lh / 4; // default-border-radius

$nav-height: 48px;

$group-header-height: 32px;

$repo-size: 200px;
$repo-bg-size: 65%;
$repo-icon-size: 15%;
