$nav-height: 52px;

html,
body {
  height: 100%;
  margin: 0;
  background: #eee;
  overflow: hidden;
}

body {
  padding-top: $nav-height;
}

.main-nav {
  width: 100%;
  height: $nav-height;
  background: #ccc;
  position: fixed;
  top: 0;
  left: 0;
}

#root {
  height: 100%;
  overflow-y: scroll;
}

.repos-box {
  padding: 20px 20px;
}

.repo-el {
  .title {
    cursor: move;
  }

  article {
    margin: 6px 0;
  }
}


.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
