.icon {
  cursor: pointer;

  svg {
    fill: $g4;
    will-change: fill;
    transition: fill 0.4s;
  }

  &:hover {
    svg { fill: $g7; }
  }
}

.icon-x {
  &:hover {
    svg {
      fill: $red;
    }
  }
}

.progressing {
  &.button {
    text-align: center;
  }

  .icon-refresh {
    svg {
      fill: $green;
    }

    animation: spin 1s linear infinite;
  }
}
